<% include partials/header %>

       	<div class="hero-text-box">
            
            
            
<h1>JAAGO INDIA FOUNDATION Which Is Also Known As JIF <br>
  <span class="typer" id="main" data-words=" is a Non-governmental Organisation(NGO) Which is An Initiative Towards Welfare." data-colors="white" data-delay="100" data-deleteDelay="1000"></span>
  <span class="cursor" data-owner="main"></span>
</h1>
       	   
       	    <a class="btn btn-ghost js--scroll-to-start" href="#"> Show me more </a>
       	</div>
        
       </header>

       <section class="section-features js--section-features" id="features">

       	 <div class="row ">
            <h2> Our &mdash; mission </h2>
            <p class="long-copy ">
            	Create young and developed nation where in every individual enjoys quality. With its vision of ushering in a nation free from hunger, corruption and other social evils, JAAGO INDIA FOUNDATION(JIF) is committed to come up as an organization to reckon with at the national level.

            </p>
 
       	 </div>
       	 
       	 <div class="row js--wp-1">
       	 	<div class="col span-1-of-4 box">
                  <h3> Women Empowerment </h3>     
                  <p>
                        Empowering women to participate fully in economic life across all sectors is essential to build stronger economies, achieve internationally agreed goals for development and sustainability, and improve the quality of life for women, men, families and communities.
                  	
                  </p> 	 		
       	 	</div>

           
                  	 	<div class="col span-1-of-4 box">
                  <h3> Health program </h3>     
                  <p>
                      A comprehensive school health program is an organized set of policies, procedures, and activities designed to protect and promote the health and well-being of students and staff which has traditionally included health services, healthful school environment, and health education.            	
                  </p> 	 		
       	 	</div>
       	 	


       	 	<div class="col span-1-of-4 box">
                  <h3> Skill development program </h3>     
                  <p>
                        Pradhan Mantri Kaushal Vikas Yojana (PMKVY) is the flagship scheme of the Ministry of Skill Development & Entrepreneurship (MSDE). The objective of this Skill Certification Scheme is to enable a large number of Indian youth to take up industry-relevant skill training that will help them in securing a better livelihood.                 	
                  </p> 	 		
       	 	</div>


       	 	<div class="col span-1-of-4 box">
                  <h3> Social awareness program </h3>     
                  <p>
                        Being socially aware means that you understand how you react to different social situations, and effectively modify your interactions with other people so that you achieve the best results. The net result of social awareness is the ongoing development of social skills.         
                  </p> 	 		
       	 	</div>

       	 </div>
      

       </section>

        
        <section class="section-meals" id="works">
            <ul class="meals-showcase clearfix">
            	<li>
            		<figure class="meal-photo mealphoto1">
            			<img class="mealphoto" src="resources/img/1.jpg" alt="Korean bibimbap with egg and vegetables">
            		</figure>
               	</li>
            	<li>
            		<figure class="meal-photo mealphoto2">
            			<img class="mealphoto" src="resources/img/2.jpg" alt=" Simple italian pizza with cherry tomatoes ">
            		</figure>
               	</li>
                <li>
            		<figure class="meal-photo mealphoto3">
            			<img class="mealphoto" src="resources/img/3.jpg" alt="Chicken breast steak with vegetables ">
            		</figure>
               	</li>
                <li>
            		<figure class="meal-photo mealphoto4">
            			<img class="mealphoto" src="resources/img/4.jpg" alt=" Autumn pumpkin soup ">
            		</figure>
               	</li>
                </ul>
                <ul class="meals-showcase clearfix">                
                   <li>
                  <figure class="meal-photo">
            			<img class="mealphoto" src="resources/img/5.jpg" alt=" Paleo beef steak with vegetables ">
            		</figure>
               	</li>
                <li>
            		<figure class="meal-photo">
            			<img class="mealphoto" src="resources/img/6.jpg" alt=" Healthy baguette with egg and vegetables ">
            		</figure>
               	</li>
                <li>
            		<figure class="meal-photo">
            			<img class="mealphoto" src="resources/img/7.jpg" alt=" Burger with cheddar and bacon ">
            		</figure>
               	</li>
                <li>
            		<figure class="meal-photo">
            			<img class="mealphoto" src="resources/img/8.jpg" alt=" Granola with cherries and strawberries ">
            		</figure>
               	</li>
            </ul>
        	

        </section>

        

        <section class="section-steps" id="plans">
        	<div class="row">
        		<h2>  DONATE IN  &mdash; JAAGO INDIA FOUNDATION </h2>
        		<div class="row">
        			<div class="col span-1-of-2 steps-box">
        				<img src="resources/img/donate.gif" alt="omniofood app on iphone" class="app-screen js--wp-2">
        			</div>
        			<div class="col span-1-of-2 steps-box">
                             <div class="works-step">
                             	<div>1</div>
                                <p> Mail Us -  jifcare@gmail.com</p>
                             
                             </div>       				

                          <div class="works-step">

                                <div>2</div>
                                <p> Call Us - +919852302768 ,+918285516812</p>
                          </div>       	 			

                          <div class="works-step">
                                
                                <div>3</div>
                                <p>  Note:The Bank account Opening Process Is in Under Process Thats Why Please follow The Above alternatives For donation.</p>
                          </div>    
          
<!--

                          <a href="#" class="btn-app"><img src="resources/img/apple-app-store.png" alt="apple app store button"></a> 
                          <a href="#" class="btn-app"><img src="resources/img/download-app-android.png" alt="android app store button"></a>   				
-->

        		    </div>
        			
        		</div>
        		
        	</div>
        	

        </section>
   
    
       <section class="section-testimonials">
              <div class="row">
                <h2>OUR OBJECTIVE</h2>
                
              </div>
              <div class="row">
                <div class="col span-1-of-3">
                  <blockquote>
                      <ul>
                          <li>Make the youth conscious of the spiritual heritage and glorious mission of India and work for human unity in a rich and organized diversity.</li>
                          <li> To drive youth force of the country to promote Human Rights, Eradicate Poverty, Protect the Rights of Children, Empower women, and promote the sustainable and Environmentally Sound Development, promote Sustained Economic Growth and contribute towards Human Dignity.</li>
                      
                      </ul>

                  </blockquote>                 
                </div>

                      
                  
            <div class="col span-1-of-3">
                  <blockquote>
                      <ul>
                          <li>To spread the social education for to get rid off social evils.</li>
                          <li>To establish free legal aid centers with the help of youth for the poor and helpless people in different location of country & world.</li>
                      </ul>
                  </blockquote>                                   
                </div>
            
                  
                  
                  
                  
        <div class="col span-1-of-3">
                  <blockquote>
                      <ul>
                          <li>To bring together the urban learned & the keen rural learners for exchanging views & information.</li>
                          <li>To persuasively instigate the corporate houses to set up social projects like school, hospitals, roads, bridges, in the rural areas</li>
                      
                      </ul>
                  </blockquote>                                    
                </div>
              </div>         
       </section>


       <section class="section-form">
        <div class="row">
            <h2>We're happy to hear from you</h2>
        </div>

        <div class="row">
          <form method="POST" action="#" class="contact-form">
             <div class="row">
                 <div class="col span-1-of-3">
                   <label for="name">Name</label>
                 </div>
                 <div class="col span-2-of-3">
                   <input type="text" name="name" id="name" placeholder="your name" required>
                 </div>
               
             </div>

             <div class="row">
                 <div class="col span-1-of-3">
                   <label for="email">Email
</label>
                 </div>
                 <div class="col span-2-of-3">
                   <input type="email" name="email" id="email" placeholder="your email" required>
                 </div>
               
             </div>

             <div class="row">
                 <div class="col span-1-of-3">
                   <label for="find-us">How did you find us?
</label>
                 </div>
                 <div class="col span-2-of-3">

                    <select name="find-us" id="find-us">
                      <option value="friends" selected>Friends</option>
                      
                      <option value="search" >Search engin</option>

                      <option value="ad">Advertisement</option>  

                      <option value="other">Other</option>
                    </select>

                 </div>
               
             </div>


          <div class="row">
                 <div class="col span-1-of-3">

                   <label>Newsletter</label>

                 </div>
                 <div class="col span-2-of-3">
                   <input type="checkbox" name="news" id="news" checked>Yes, please
                 </div>

               
             </div>


          <div class="row">
                 <div class="col span-1-of-3">

                   <label>Drop us a line</label>

                 </div>
                 <div class="col span-2-of-3">
                   <textarea name="message" placeholder="your message">
                     
                   </textarea>

               
             </div>

    <div class="row">
                 <div class="col span-1-of-3">

                   <label>&nbsp;</label>

                 </div>
                 <div class="col span-2-of-3">

               <input type="submit" value="Send it">
             </div>


          </form>
        </div>
         
       </section>
       

<% include partials/footer %>

