       <footer>
         <div class="row">
          <div class="col span-1-of-2">
            <ul class="footer-nav">
              <li><a href="#">about us</a></li>
              <li><a href="#">Blog</a></li>
              <li><a href="#">Press</a></li>
              <li><a href="#">IOS App</a></li>
              <li><a href="#">Android App</a></li>
            </ul>
          </div>
           

           <div class="col span-1-of-2">
             <ul class="social-links">
               <li><a href="https://www.facebook.com/jifofficial/"><i class="ion-social-facebook"></i></a></li>
               <li><a href="https://twitter.com/jif_official"><i class="ion-social-twitter"></i></a></li>
               <li><a href="https://www.youtube.com/channel/UCj1hXnemMdn5xk9xO27ywTA"><i class="ion-social-youtube"></i></a></li>
             </ul>
          </div>
           
         </div>

         <div class="row">
          <p>
            copyright &copy; 2017 by Jaago India Foundation. All rights are reserved.
          </p>
           
         </div>
       </footer>



<script src="//cdn.jsdeliver.net/respond/1.4.2/respond.min.js"></script>
<script src="//cdn.jsdeliver.net/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="//cdn.jsdeliver.net/selectivizr/1.0.3b/selectivizr.min.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script type="text/javascript" src="resources/js/script.js"></script>
 <script src="/scripts/typer.js"></script>  
<script src="vendors/js/jquery.waypoints.min.js"></script>
   </body>
</html>
